<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加设计师</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{JS_ADD}jquery.js"></script>
</head>
<body>
<div class="container">
    <form action="/JEWELLERY/index.php/admin/homeType/addHomeType" method="post" style="margin-top: 30px">
        <div class="form-group">
            <label for="name">类型中文名</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="类型中文名">
        </div>
        <div class="form-group">
            <label for="ename">类型英文名</label>
            <input type="text" class="form-control" id="ename" name="ename" placeholder="类型英文名">
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="imgtype" value="big" checked>
                大图
            </label>
            <label>
                <input type="radio" name="imgtype" value="small">
                小图
            </label>
        </div>
        <input type="hidden" value="hidden" name="himgurl">
        <div class="upload"></div>

        <button type="submit" class="btn btn-default" style="margin-top: 30px">Submit</button>
    </form>
</div>
<script src="{JS_ADD}upload.js"></script>
<script src="{JS_ADD}addDym.js"></script>
</body>
</html>