<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栏目管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <form action="/JEWELLERY/index.php/admin/category/add" method="post" style="margin-top: 30px;margin-bottom: 30px">
            <input type="text" placeholder="添加一级栏目" name="cname">
            <input type="submit" value="添加">
        </form>
        {if $data}
        <table class='table table-bordered'>
            {$data}
        </table>

        {else}
        <table class="table table-bordered">
            <tr>
                <td colspan="3">没有数据</td>
            </tr>
        </table>
        {/if}
    </div>
    <style>
        .pannel{
            width: 40%;
            height: 30%;
            background-color: #fff;
            box-shadow: 0 0 4px #000;
            position: absolute;
            left: 0;top: 0;right: 0;bottom: 0;
            margin: auto;
            z-index: 2;
            display: none;
            padding: 1%;
        }
    </style>
    <div class="pannel addpannel">
        <div class="close">
            X
        </div>
        <form action="/JEWELLERY/index.php/admin/category/add" method="post">
            <input type="text" name="cname">
            <input type="hidden" name="cid">
            <input type="submit" value="提交">
        </form>
    </div>

    <div class="pannel editpannel">
        <div class="close">
            X
        </div>
        <form action="/JEWELLERY/index.php/admin/category/add" method="post">
            <input type="text" name="cname">
            <select name="lid" id="opts">

            </select>
            <input type="button" value="修改">
        </form>
    </div>

    <script src="{JS_ADD}jquery.js"></script>
    <script src="{JS_ADD}category.js"></script>
</body>
</html>