<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加动态</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container" style="margin-bottom: 200px">
    <form action="/JEWELLERY/index.php/admin/dynamic/editDym?did={$data['did']}" method="post">
        <div class="form-group">
            <label for="tid">动态类型</label>
            <select class="form-control" id="tid" name="tid" tid="{$data['tid']}">

            </select>
        </div>
        <div class="form-group">
            <label for="dtitle">动态标题</label>
            <input type="text" class="form-control" id="dtitle" name="dtitle" placeholder="动态标题" value="{$data['dtitle']}">
        </div>
        <div class="form-group">
            <label for="dmsg">动态内容</label>
            <textarea class="form-control" id="dmsg" name="dmsg" rows="3">{$data['dmsg']}</textarea>
        </div>
        <div class="form-group seeImg">
            <label for="dimgurl">动态图片</label>
            <img src="{$data['dimgurl']}" alt="" style="display:block;width: 200px;height: 200px" id="dimgurl">
        </div>

        <div class="form-group editImg" style="display: none;margin-bottom: 20px" imgFlag="false">
            <label for="dimgurl">动态图片</label>
            <input type="hidden" value="hidden" name="dimgurl">
            <div class="upload"></div>
        </div>


        <button type="button" class="btn btn-default editbtn">修改图片</button>
        <br><br>

        <button type="submit" class="btn btn-default">修改</button>

    </form>
</div>
<script src="{JS_ADD}jquery.js"></script>
<script src="{JS_ADD}upload.js"></script>
<script>
    //上传图片
    var uploadObj=new upload();

    uploadObj.createView({
        parent:document.querySelector(".upload")
    })
    uploadObj.selectBtn.parentNode.style.lineHeight="50px";
    uploadObj.upBtn.style.lineHeight="50px";
    uploadObj.up("/JEWELLERY/index.php/admin/dynamic/uploadfile",function (e) {
        $("input[type=hidden]").val(e[0]);
    })

    $(".editbtn").click(function () {
        $(".seeImg").css("display","none");
        $(".editImg").css("display","block").attr("imgFlag","true");
    })

    $.ajax({
        url:"/JEWELLERY/index.php/admin/dynamic/getOption",
        dataType:"json",
        success:function (e) {
            var tid=$("#tid").attr("tid");
            console.log(tid);
            tree(e,tid);
            $("#tid").html(str);
            str="";
        }
    })

    var str="";

    function tree(data,tid){
        for(var i=0;i<data.length;i++){
            if(tid!=undefined){
                if(tid==data[i].cname){
                    str+="<option value='"+data[i].cid+"' selected>"+data[i].cname+"</option>";
                }else {
                    str+="<option value='"+data[i].cid+"'>"+data[i].cname+"</option>";
                }
            }else {
                str+="<option value='"+data[i].cid+"'>"+data[i].cname+"</option>";
            }

        }
    }

</script>
</body>
</html>